
/*==========================================
=            Color           =
==========================================*/
.bg-black {
  background-color: black;
}

.bg-cyan {
  background-color: #5ec3da;
}

/*==========================================
=           TEXT-and-COLOR          =
==========================================*/

.no-underline{
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.text-white {
  color: white;
}

.capitalize {
  text-transform: capitalize;
}

.font-raleway {
  font-family: raleway;
}

.text-cyan {
  color: #5ec3da;
}

/*==========================================
=            FLEX           =
==========================================*/
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/*==========================================
=            MARGIN          =
==========================================*/
.ml-100 {
  margin-left: 100px;
}

.mx-100{
  margin-right: 100px;
}

.mt-100{
  margin-top: 100px;
}

.m-0{
  margin: 0;
}
/*==========================================
=            FOOTER            =
==========================================*/

.social-links a {
  padding-left: 10px;
}



