
/*==========================================
=            Color           =
==========================================*/
.bgblack {
  background-color: black;
}



/*==========================================
=           TEXT-and-COLOR          =
==========================================*/

.no-underline{
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.text-white {
  color: white;
}

.capitalize {
  text-transform: capitalize;
}

.font-raleway {
  font-family: raleway;
}
/*==========================================
=            FLEX           =
==========================================*/
.display {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/*==========================================
=            MARGIN          =
==========================================*/
.ml-100 {
  margin-left: 100px;
}

.mx-100{
  margin-right: 100px;
}

.mt-100{
  margin-top: 100px;
}

.m-0{
  margin: 0;
}
/*==========================================
=            FOOTER            =
==========================================*/

.social-links a {
  padding-left: 10px;
}


/*==========================================
=            Test login           =
==========================================*/
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  color: black;
  margin-left: 12px;
}

form {
  position: relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

input {
  padding: 16px;
  border-radius: 7px;
  border: 0px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: 15px;
  width: 300px;
  color: black;
  font-size: 18px;
  height: 54px;
}

input:focus {
  outline-color: rgba(0, 0, 0, 0);
  background: black;
  color: #e74c3c;
}

button {
  float: right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: black;
  font-size: 22px;
}

.inputUserIcon {
  position: absolute;
  top: 68px;
  right: 80px;
  color: black;
}

.inputPassIcon {
  position: absolute;
  top: 136px;
  right: 80px;
  color: black;
}

input::-webkit-input-placeholder {
  color: black;
}

input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
